@import '~antd/dist/antd.css';
@import '../../style/main.scss';

html, body {
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.App {
  overflow: hidden;
}
#components-layout-demo-side .logo {
  height: 32px;
  background: rgba(255,255,255,.2);
  margin: 16px;
}
.ant-layout-sider, .ant-menu-dark, 
.ant-menu-dark .ant-menu-sub,
.ant-menu-dark .ant-menu-inline.ant-menu-sub {
  background-color: #324160;
}
.ant-menu.ant-menu-dark .ant-menu-item-selected, .ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
  background-color: #22304d; 
}

.logo {
  height: 60px;
  width: 100%;
  color: white;
  text-align: center;
  line-height: 64px;
  font-size: 700;
}
