
@import './colors.scss';

//项目主样式

.UDIAN {
  .router__Link {
    color: rgba(255, 255, 255, 0.65);
    &:focus {
      text-decoration: none;
    }
  }

  /* height类样式 */
  .h__min_100vh {
    min-height: 100vh;
  }
  /* width类样式 */
  .w__p100 {
    width: 100%；
  }
  /* background类样式 */
  .b__fff {
    background: $C_fff;
  }
  /* margin, padding类样式 */
  .p__0 {
    padding: 0;
  }
  /*鼠标状态*/
  .cursor__pointer {
    cursor: pointer;
  }
  /*display*/
  .d__ib {
    display: inline-block;
  }
  table {
    border-radius: 0;
    
    thead {
      th {
        background: $C_ebedf0;
        border:1px solid $C_dedede;
        border-right: 0;
        &:last-of-type {
          border-right: 1px solid $C_dedede;
        }
      }
    }
    tbody {
      tr {
        td {
          border:1px solid $C_dedede;
          border-right: 0;
          border-top:0;
          &:last-of-type {
            border-right: 1px solid $C_dedede;
          }
        }
      }
    }
  }
}